In [3]:
#create a tuple:
thistuple=("orange","grapes","guava")
print(thistuple)

('orange', 'grapes', 'guava')

In [5]:
#tuples allow duplicate values:
thistuple=("apple","banana","cherry","apple","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [15]:
#print the number of items in the tuple:
thistuple=("apple","banana","cherrry")
print(len(thistuple))

3

In [21]:
#one item tuple,remember the comma:
thistuple=("apple",)
print(type(thistuple))
#NOT a tuple
thistuple=("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [23]:
#string int and boolean data types:
tuple1=("apple","banana","cherry")
tuple2=(2,5,8,6,4)
tuple3=(True,False,True)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(2, 5, 8, 6, 4)
(True, False, True)

In [25]:
#a tuple with string, integers and boolean values:
thistuple=("abc",30,True,50,"male")
print(thistuple)

('abc', 30, True, 50, 'male')

In [29]:
thistuple=("kanu",62,True,False,52,"manisha")
print(thistuple)

('kanu', 62, True, False, 52, 'manisha')

In [31]:
thistuple=("kanishka",87,True,95,"radha",False,60)
print(thistuple)

('kanishka', 87, True, 95, 'radha', False, 60)

In [33]:
#a tuple with string,integers and boolean values:
tuple1=("abc",50,True,False,89,74,"male")
print(tuple1)

('abc', 50, True, False, 89, 74, 'male')

In [35]:
#what is the data type of a tuple?
mytuple=("apple","banana","grapes")
print(type(mytuple))

<class 'tuple'>

In [37]:
#using the tuple()method to make a tuple:
thistuple=tuple(("apple","banana","cherry")) #note a double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')